/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style the sidebar */
  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
  }
  
  .regiao {
    padding: 30px 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    cursor: pointer;
  }
  
  .regiao:hover {
    background-color: #575757;
  }

  .estados{
    display: none;
    position: absolute;
    width: 100%;
    left: 250px;
    background-color: #111;
    margin-top: -30px;
  }

  .estado{
    padding: 30px 30px;
    cursor: pointer;
  }

  .estado:hover{
    background-color: #575757;
  }

  .regiao:hover>.estados{
    display: block;
  }
  
  /* Style the content section */
  .content {
    margin-left: 260px; /* Space for the sidebar */
    padding: 20px;
  }
  
  .content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  